/* start of dynamically displayed comtent for bars and churches styling */

/* * {
    box-sizing: border-box;
} */

#innerBody {
    width: 100%;
    display: flex;
    position: relative;
    /* left: -10%; */
    justify-content: center;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
}

.card img{
    height: 300px;
    width: 400px;
}

p {
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
}

#bar-num {
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

#church-num {
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

/* end of dynamically displayed comtent for bars and churches styling */


main {
    flex: 1 0 auto;
}

button {
    background-color: transparent;
    font-family: 'Josefin Sans', sans-serif;
}

/* start of header styling */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #c98af3;
    font-family: 'Josefin Sans', sans-serif;    
    font-size: 22px;
}

.navbar {
    display: flex;
    background-color: #c98af3;
    font-family: 'Josefin Sans', sans-serif;
}

.navbar p {
    display: flex;
    flex-direction: flex-start;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar p:hover {
    background-color: rgb(103, 230, 235);
    color: black;
}

.navbar input[type=text] {
    margin-left: 10px;
    background-color: #fff;
    padding: 4px;
    margin-top: 8px;
    font-size: 17px;
    border-radius: 10%;
}


.navbar .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.styleIdButton {
    background-color: lavender;
    border-radius: 20px 20px 20px 20px;
    position: relative;
    left: 20px;
    top: 8px;
    box-shadow: 0px 0px 30px 5px goldenrod;
}
.navbar .search-container button:hover {
    background: #803bce;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* end of header styling */

/* start of middle container styling */

.middleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    margin-left: 20px;
    margin-right: 20px;
}
    

#resultsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #803bce;
    height: 200px;
    width: 330px;
    font-family: 'Josefin Sans', sans-serif;
    align-content: center;
}

#weatherBox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    border: 2px dashed #803bce;
    height: 200px;
    width: 330px;

    font-family: 'Courier New', Courier, monospace;
    align-content: center;
    flex-wrap: wrap;

}

#resultsBoxHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid #803bce;
    height: 50px;
    width: 150px;
}

#weatherBoxHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid #803bce;
    height: 50px;
    width: 150px;
}
#resultsBoxHeader p {
    font-size: 22px;
}
#weatherBoxHeader p {
    font-size: 22px;
}

#weatherInfo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height:140px;
}

#weatherInfo div {
        margin: 0px 5px 5px 0px;
        height: fit-content;
}
/* end of middle container styling */


#churches {
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 800px;
}

#bars {
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 800px;
}

.card-image {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
}

#rightContainer{
    display:flex;
    justify-content: center;
}

#leftContainer {
    display: flex;
    justify-content:center;
}

.card .card-image .card-title {
    color: black;
}

/*  */

#landingPageContainer {
    background-color: lavender;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    width: 100vw;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

#landingInnerContainer {
    background-color: #803bce;
    box-shadow: 0px 1px 50px goldenrod;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    width: 50%;
    height: 75vh;
    align-content: center;
    align-items: center;
    /* overflow-y: hidden;
    overflow-x: hidden; 
    I'ts cool but not really necessary*/
}

#landing-search-value1 {
    background-color: lavender;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 15px 0px 0px 15px;
    outline: none;
    height: 3rem;
    width: 19rem;
    font-size: 18px;
    margin: 8px 0px 8px 8px;
    padding: 0;
    box-shadow: 0px 10px 50px darkgoldenrod;
}

#landing-search-button {
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    border-radius: 2px 15px 15px 2px;
    height: 3.29rem;
    width: 3rem;
    box-shadow:15px 0px 30px goldenrod;
    padding-left: 10px;
    background-color: lavender;
}

/* #landing-search-button::placeholder {
    color:black;
} */
::placeholder {
    font-family: 'Quicksand', sans-serif;
    color:black;
}
#landingDescriptionBox {
    font-family: 'Quicksand', sans-serif;
    background-color: lavender;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    box-shadow: 0px 1px 29px black;
    height: fit-content;
    width: fit-content;
}

#landingTitleBox {
    background-color: lavender;
    width: fit-content;
    height: fit-content;
    border-radius: 40px 40px 40px 40px;
    padding-bottom: 10px;
    padding: 0px 15px 10px 15px;
    box-shadow: 0px -10px 50px 20px gold;
}

#landingTitleWords {
    font-family: 'Quicksand', sans-serif;
}

#landingGEOButton {
    font-family: 'Quicksand', sans-serif;
    margin-top: 20px;
    background-color: lavender;
    height: 3rem;
    width: 10rem;
    border-radius: 10px;
    box-shadow: 2px 0px 30px 2px goldenrod;
}

#outerInnerBody {
    display:none;
}

.navbar input[type=text] {
    background-color: lavender;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 15px 0px 0px 15px;
    outline: none;
    height: 3rem;
    width: 19rem;
    font-size: 18px;
    margin: 8px 0px 8px 8px;
    padding: 0;
    box-shadow: 0px 10px 50px darkgoldenrod;
}

.search-container {
    display:flex;
    flex-direction: row;
}

.navbar .search-container form button {
    font-size: 100%;
    line-height: 1.15;
    margin: 0px 0px 0px -1px;
    border-radius: 2px 15px 15px 2px;
    height: 3rem;
    width: 3rem;
    box-shadow: 15px 0px 30px goldenrod;
    padding-left: 10px;
    background-color: lavender;
}

#historyButton {
    border-radius:20px;
}


@media only screen and (max-width: 1350px) {
    body {
      background-color: lightblue;
      display:flex;
      /* Just keeping this un-hidden as a reminder */
    }
    #innerBody {
        display:flex;
        flex-shrink: 3;
    }
    .middleContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 250px;
        margin-left: 200px;
        margin-right: 200px;
        order:5;
        flex-shrink: 3;
    }
    #weatherBox {
        display:flex;
        flex-direction: column;
        flex-wrap:wrap;
        align-content:center;
        justify-content:center;
        align-items:flex-start;
    }

    #leftContainer {
        /* display: flex; */
        position: relative;
        /* left: -50px; */
        width: 45%;
        /* float:left; */
        justify-content:center;
        order:6;
        flex-direction: column;
        /* margin-right:10px; */
        flex-shrink: 3;
        align-content: center;
    }
    .header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        justify-content: space-around;
        background-color: #c98af3;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 22px;
        align-content: stretch;
        flex-wrap: wrap;
    }

    #rightContainer {
    /* display: flex; */
    position: relative;
    right: 40px;
    width: 45%;
    /* float:right; */
    justify-content:center;
    order:7;
    flex-direction: column;
    /* margin-left:10px; */
    /* margin-right:5px; */
    flex-shrink: 3;
    align-content: center;
}
    .card {
        flex-direction: column;
        display:flex;
        justify-content: center;
        text-align: center;
        flex-shrink: 3;
        align-items: center;
    }
    /* .card-image{
        display:flex;
        width: 100%;
        height: 100%;
        flex: 0 1 300px;
    } */

    .card .card-image img {
        display: block;
        border-radius: 2px 2px 0 0;
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 90%;
        flex-shrink: 3;
    }
    .card-image {
        display: flex;
        position: relative;
        justify-content: center;
        flex-wrap: wrap;
        height: 10%;
        width: 400px;

    }
    .card-title {
        position:relative !important;
        display:flex;
        flex-wrap:wrap;
    }
    .card .card-content {
        padding: 24px;
        display: flex;
        border-radius: 0 0 2px 2px;
        width: 50%;
        flex-direction: column;
        flex-shrink: 1;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    #innerBody {
        /* width: 100%; */
        display: flex;
        justify-content: center;
        flex-direction: row;
        /* align-content: center; */
        flex-wrap: wrap;
    }

    @media only screen and (max-width: 768px) {
    #landingDescriptionWords p{
        font-size: 13px;
    }

}
}



  