* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #e9f38a;
    font-family: 'Courier New', Courier, monospace;
}

.navbar {
    display: flex;
    background-color: #e9f38a;
    font-family: 'Courier New', Courier, monospace;
}

.navbar p {
    display: flex;
    flex-direction: flex-start;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar p:hover {
    background-color: rgb(103, 230, 235);
    color: black;
}

.navbar .search-container {
    float: left;
}

.navbar input[type=text] {
    margin-left: 10px;
    background-color: #fff;
    padding: 4px;
    margin-top: 8px;
    font-size: 17px;
    border-radius: 10%;
}

.navbar .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: transparent;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.navbar .search-container button:hover {
    background: #bfce3b;
}